---
const { idName } = Astro.props;
import Marq from "../components/Marq.astro"
import AddCart from "./AddCart";

import CartComp from "./CartComp.astro";

const res = await fetch(
  `https://psc2023.azurewebsites.net/api/collections/Products/records/${idName}`,
);

const data = await res.json();
console.log(data);
---

<div class="flex p-8">
  <CartComp url="/shop" />
  <figure>
    <img
      src={`https://psc2023.azurewebsites.net/api/files/Products/${data.id}/${data.picture}`}
      alt={data.id}
      transition:name={data.id}
      class="mask mask-squircle"
    />
  </figure>
  <div class="w-auto h-auto card-body">
    <h1 class="card-title text-4xl" transition:name={data.product_name}>
      {data.product_name}
    </h1>
    <p class="text-2xl">{data.price} pesos</p>
    <div class="stats shadow">
      <div class="stat">
        <div class="stat-title">
          Remaining {data.stocks > 1 ? "stocks" : "stock"}
        </div>
        <div class="stat-value">
          {
            data.stocks > 1 ? (
              <p>{data.stocks}</p>
            ) : data.stocks === 1 ? (
              <p>LAST STOCK REMAINING</p>
            ) : (
              <p>Out of Stock</p>
            )
          }
        </div>
      </div>
      <AddCart client:load>
        <div class="p-8 w-fit h-fit">Add to Cart</div>
      </AddCart>
    </div>
    <a class="border-2 p-6 flex justify-center items-center rounded-full w-fit gap-8" href="/shop">Go back to Product List <span id="loadingspinner" class="loading-spinner loading-md"></span></a>

    <div
      class="card-actions translate-x-80 group-hover:translate-x-0 justify-end transition-all duration-300 ease"
    >
    </div>
  </div>
</div>
<Marq />

<script>
  document.addEventListener('astro:before-preparation', () => {
    document.querySelector('#loadingspinner').classList.add('loading')
  })
  document.addEventListener('astro:after-preparation', () => {
    document.querySelector('#loadingspinner').classList.remove('loading')
  })
</script>
