---
const { idName } = Astro.props;

const res = await fetch(
  `https://psc2023.azurewebsites.net/api/collections/Products/records/${idName}`
);

const data = await res.json();
console.log(data);
---

<div class="flex p-8">
  <figure>
    <img
      src={`https://psc2023.azurewebsites.net/api/files/Products/${data.id}/${data.picture}`}
      alt={data.id}
      transition:name={data.id}
      class="mask mask-squircle"
    />
  </figure>
  <div class="w-auto h-auto card-body">
    <h1 class="card-title text-4xl" transition:name={data.product_name}>
      {data.product_name}
    </h1>
    <p>{data.price} pesos</p>
    <p>{data.stocks}</p>
    <div
      class="card-actions translate-x-80 group-hover:translate-x-0 justify-end transition-all duration-300 ease"
    >
    </div>
  </div>
</div>
