---
const { idName } = Astro.props;
import Marq from "../components/Marq.astro"
import AddCart from "./AddCart";

import CartComp from "./CartComp.astro";

const res = await fetch(
  `https://psc2023.azurewebsites.net/api/collections/Products/records/${idName}`,
);

const data = await res.json();
console.log(data);
---

<div class="flex p-8 w-full">
  <CartComp url="/shop" />
  <figure>
    <img
      src={`https://psc2023.azurewebsites.net/api/files/Products/${data.id}/${data.picture}`}
      alt={data.id}
      transition:name={data.id}
      class="mask mask-squircle"
    />
  </figure>
  <div class="w-auto h-auto card-body">
    <h1 class="card-title text-4xl" transition:name={data.product_name}>
      {data.product_name}
    </h1>
    <p class="text-2xl">{data.price} pesos</p>
    <div class="stats shadow w-fit mb-8">
      <div class="stat">
        <div class="stat-title">
          Remaining {data.stocks > 1 ? "stocks" : "stock"}
        </div>
        <div class="stat-value">
          {
            data.stocks > 1 ? (
              <p>{data.stocks}</p>
            ) : data.stocks === 1 ? (
              <p>LAST STOCK REMAINING</p>
            ) : (
              <p>Out of Stock</p>
            )
          }
        </div>
      </div>
      <AddCart client:load>
        <div class="p-8 w-fit hover:bg-slate-100 select-none cursor-pointer border-l-2 h-full font-bold uppercase">Add to Cart</div>
      </AddCart>
    </div>
    <a class="border-2 p-6 flex justify-center items-center rounded-full w-fit gap-8" href="/shop"><svg id="addtocart" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
    </svg>
    <span id="loadingspinner" class="hidden loading loading-spinner loading-md"></span> Go back to Product List </a>

    <div
      class="card-actions translate-x-80 group-hover:translate-x-0 justify-end transition-all duration-300 ease"
    >
    </div>
  </div>
</div>
<Marq />

<script>
  document.addEventListener('astro:after-preparation', () => {
    document.querySelector('#loadingspinner').classList.add('hidden')
  })
  document.addEventListener('astro:before-preparation', () => {
    document.querySelector('#loadingspinner').classList.remove('hidden')
  })
  document.addEventListener('astro:before-preparation', () => {
    document.querySelector('#addtocart').classList.add('hidden')
  })
  document.addEventListener('astro:after-preparation', () => {
    document.querySelector('#addtocart').classList.remove('hidden')
  })
</script>
